html, body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 74px;
  font-weight: 700;
  letter-spacing: -3px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1.5px;
}

p {
  line-height: 1.6;
  margin: 20px 0;
}

.dark-content {
  color: #fff;
}
.dark-content h1, .dark-content h2, .dark-content h3, .dark-content h4, .dark-content h5, .dark-content h6, .dark-content p {
  color: #fff;
}

.hero-unit {
  background: url("../img/hero-unit-background-desktop.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.hero-unit .hero-unit-subheading {
  color: #9ACFF6;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 10px;
  margin-bottom: 45px;
}

.btn {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  padding: 15px 23px;
}
.btn.btn-primary {
  background: linear-gradient(93.04deg, #EA2626 -21.04%, #0029FF 147.44%);
}