html, body {
  font-family: "Open Sans", sans-serif;
  color: #423D3F;
}

h1, h2, h3, h4, h5, h6 {
  color: #0B3757;
}

h1 {
  font-size: 74px;
  font-weight: 700;
  letter-spacing: -3px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1.5px;
}

p {
  line-height: 1.6;
  margin: 20px 0;
}

a {
  color: #9ACFF6;
  text-decoration: underline;
}
a:hover {
  color: #54aef0;
}

.dark-content {
  color: #fff;
}
.dark-content h1, .dark-content h2, .dark-content h3, .dark-content h4, .dark-content h5, .dark-content h6, .dark-content p {
  color: #fff;
}

.img-circle {
  border-radius: 50%;
}

.hero-unit {
  background: url("../img/hero-unit-background-desktop.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 50px 0;
}
.hero-unit .hero-unit-subheading {
  color: #9ACFF6;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 10px;
  margin-bottom: 45px;
}

@media only screen and (max-width: 576px) {
  .hero-unit {
    text-align: center;
    background: url("../img/hero-unit-background-mobile.jpg");
    background-size: cover;
    background-position: center;
  }
  .hero-unit .hero-unit-heading {
    font-size: 40px;
  }
  .hero-unit .hero-unit-subheading {
    font-size: 14px;
  }
}
.btn {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  padding: 15px 23px;
}
.btn.btn-primary {
  background: linear-gradient(93.04deg, #EA2626 -21.04%, #0029FF 147.44%);
}

.content-section {
  padding: 50px 0;
}
.content-section.content-section-centered {
  text-align: center;
}
.content-section.dark-content {
  background: #303B48;
}
.content-section.content-section-side-image {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.content-section.content-section-side-image .content-section-side-image-content {
  flex-grow: 1;
  padding: 50px 0;
}
.content-section.content-section-side-image .content-section-side-image-container {
  width: 250px;
  height: 500px;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 576px) {
  .content-section-heading {
    text-align: center;
  }
}
.portfolio-cards {
  margin-top: 50px;
}
.portfolio-cards .portfolio-card {
  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 30px;
}
.portfolio-cards .portfolio-card .portfolio-card-image {
  background-size: cover;
  background-position: center;
  height: 200px;
}
.portfolio-cards .portfolio-card-info {
  padding: 25px 5px;
}
.portfolio-cards .portfolio-card-info .portfolio-card-title {
  display: block;
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 5px;
  font-weight: 600;
}
.portfolio-cards .portfolio-card-info .portfolio-card-credits {
  display: block;
  color: #A7A7A7;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}