.contact-form {
    margin-top: 30px;

    .contact-form-input {
        display: block;
        width: 100%;
        -webkit-appearance: none;
        border: 0;
        border-radius: 4px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 18px 20px;
        font-size: 18px;

        &::placeholder {
            color: #9E9E9E;
        }
    }

    textarea.contact-form-input {
        min-height: 160px;
    }


}
