.content-section {
    padding: 50px 0;

    &.content-section-centered {
        text-align: center;
    }

    &.dark-content {
        background: #303B48;
    }

    &.content-section-side-image {
        .content-section-side-image-container {
            width: 250px;
            height: 500px;
            background-size: cover;
            background-position: center;
        }
    }
}

