.content-section {
    padding: 50px 0;

    &.content-section-centered {
        text-align: center;
    }

    &.dark-content {
        background: #303B48;
    }

    &.content-section-side-image {

        display: flex;
        flex-direction: row;
        padding: 0;

        .content-section-side-image-content {
            flex-grow: 1;
            padding: 50px 0;
        }
        .content-section-side-image-container {
            width: 250px;
            height: 500px;
            background-size: cover;
            background-position: center;
        }
    }
}
