.footer {
    background: #EEF1F2;
    color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 10px 0;
}