.hero-unit {
    background: url('../img/hero-unit-background-desktop.jpg');
    background-size: cover;
    background-position: center;

        .hero-unit-subheading {
            color: #9ACFF6;
            text-transform: uppercase;
        }
}