.hero-unit {
    background: url('../img/hero-unit-background-desktop.jpg');
    background-size: cover;
    background-position: center;

    min-height: 100vh;
    padding: 50px 0;

        .hero-unit-subheading {
            color: #9ACFF6;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 400;
            letter-spacing: 10px;
            margin-bottom: 45px;
        }
}

@media only screen and  (max-width: 576px) {
    .hero-unit {
        text-align: center;
        background: url('../img/hero-unit-background-desktop.jpg');
        background-size: cover;
        background-position: center;

        .hero-unit-heading {
            font-size: 40px;;
        }

        .hero-unit-subheading {
            font-size: 14px;
        }
    }
}